<section ng-controller="GroupAddCtrl as g" class="panel col-lg-6">
	<header class="panel-heading">Add Group</header>
	<div class="panel-body">
		<form  id="add-group" role="form" class="" ng-submit="g.add(data);">
			<div class="form-group">
				<label>Label</label>
				<input type="text" class="form-control" ng-model="data.label" required focus>
			</div>
			<div class="form-group">
				<label>Type</label>
				<select class="form-control" ng-model="data.type" required>
					<option value="user">User</option>
					<option value="agent">Agent</option>
					<option value="admin">Admin</option>
					<option value="custom">Custom</option>
				</select>
			</div>
			<div>
				<button type="submit" class="btn btn-primary pull-right">Submit</button>
			</div>		
		</form>		
	</div>
</section>